%p#notice= notice

%p
  %b Short name:
  = @course.short_name
%p
  %b Name:
  = @course.name
%p
  %b Description:
  = @course.description

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
